.canvas{
    width: 100%;
    overflow: hidden;
    height: 1110px;
    background-position: center;
    border-bottom: lightgray  solid 1px ;
    }
.mySkills{
    display: block;
    margin: 0 auto;
    height: 280px;
    width: 60%;
    
}
.mySkills ul{
    text-align:center;
   margin-top: 14px;
   
}
.mySkills li{
    display: inline-block;
    list-style: none;
    margin-bottom: 30px;
}

.mySkills p{
    font-family: var(--ff-primary);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    opacity: .87;
    line-height: 1.5;
}


.mySkills a{
margin: 0 auto;
border: gray solid 1px;
border-radius: 50px;
padding: 10px;
transition: .5s;
color: black;
font-family: var(--ff-primary);

}
.mySkills a:hover{
    opacity: .8;
    color: #49c5b6;
    border: #49c5b6 solid;
}
/* .mySkills::after{
    display: block;
} */
@media screen and (max-width:420px) {
    .canvas{
        /* width: 375px; */
        height: 410px;
    }
    /* .banner img{
        width: 680px;
    } */
    .banner img{
        width: 100%;
    }
    .mySkills{
        width: 100%;
    }
    .mySkills p{
        font-size: 9px;
        padding: 10px;
    }
    .mySkills ul{
   padding-left: 0;
    }
    .mySkills a{
        font-size: 8px;
        margin-top: 5px;
        margin: 1px;
    }
}
@media screen and (min-width:421px){
    .side-note::before{
        content:"\a";
        white-space: pre;
    }
}
