*{
    margin: 0;
}
:root{
    --ff-primary:  'Libre Franklin', sans-serif;
    --ff-secondary:'Source Sans 3', sans-serif;
}
a{
    text-decoration: none;
}
body{
  background-color: white;
  transition: .5s ease-in-out;
}
.dark{
    background: #0C0C0C;
    overflow: hidden;
  
    
}
