.nav{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 70px;
    overflow: hidden;
    background-color: white;
    transition: .5s ease-in-out;
}

.menu-items{
    width: 100%;
    margin: 0 auto;
     display: flex; 
    justify-content: center; 
    
}
.menu-items a{
    font-family: var(--ff-primary);
    padding: 50px;
    text-decoration: none;
    color: black;
    position: relative;
   
}
.menu-items a:hover{
    opacity: .7;
}
.dot{
    position: absolute;
    right: 0;
    opacity: .6;
}
@media screen and (max-width:420px) {
    header{
        width: 100%
    }
    .menu-items{
        width: 100%;
        margin: 0 auto;
    }
    .menu-items a{
        font-size: 9px;
       padding: 20px;
       
    }
   
}

