.mini-projects{
    width: 80%;
    border-bottom: lightgray  solid 1px ;
}
.mini-projects_title h1{
    font-size: 30px;
    font-family: var(--ff-primary);
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 260px;
}
.mini-projects_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.mini-project{
    position: relative;
    width: 23%;
    height: 420px;
    background: #f4f7f6;
    margin: 20px;
    transition: .5s ease-in-out;
    
    
}
.mini-project img{
    width: 100%;
    height: 65%;   
    cursor: pointer;
    transition: ease-in-out;
}
.mini-project img.enlarge{
    width: 50%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}
.btn-primary{
background: lightskyblue;
border: none;
}
.modal-lg{
    width: 50%;
    height: 70%;
}
.modal-body img{
    width: 100%;
    height: 100%;
}

.mini-project_textone{
    border-bottom: solid 1px lightgray;
}
.mini-project_textone h1,h3{
    font-family: var(--ff-primary);
    margin: 20px;
    font-size: 13px;
}
.mini-project_textone p{
    font-family: var(--ff-primary);
    position: absolute;
    font-size: 13px;
    right: 0;
    top: 78%;
    margin-right: 20px;
}
.mini-project_texttwo{
    align-items: center;
    margin: 13px;
}
.mini-project_texttwo ul{
    display: flex;
    justify-content: center;
    float: right;
}
.mini-project_texttwo li{
    list-style: none;
    padding: 2px;
}
.mini-project_texttwo a{
font-family: var(--ff-primary);
border: 1px transparent;
border-radius: 50px;;
font-size: 10px;
padding: 10px;
color: #f4f7f6;
opacity: .8;
background-color: lightskyblue;
transition: .5s ease-in-out;
}
.mini-project_texttwo a:hover{
    opacity: 1;
}
@media screen and (max-width:420px) {
    .mini-projects_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .mini-projects_title{
       /* margin: 20px; */
       margin: 0 auto;
    }
    .mini-project{
        width: 100%;
    }
    .modal-lg{
        width: 100%;
        height: 50%;
    }
}