.my--services{
    font-family: var(--ff-primary);
    border-bottom:lightgray  solid 1px;
    color: black;
    /* background-blend-mode: multiply; */
    height: 400px;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}

.section__title--services{
    margin-top: 40px;
}
.services{
    display: flex;
    justify-content: center;
    width: 1300px;
    margin: 0 auto;
}
.section__title--services::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
}
.service{
    width: 33%;
    margin: 0 auto;
    font-size: 20px;
    padding: 20px;
}
.service h3{
    font-size: 20px;
}
@media screen and (max-width:420px){
    .my--services{
        width: 100%;
        height: 500px;
    }
    .services{
        display: inline-block;
        width: 100%;
        height: 100%;
        margin-top: -50px;
    }
    .service{
        width: 90%;
        height: 20%;
        font-size: 12px;
    }
    .section__title--services{
        margin-top: 30px;
    }
}
