.projects-section{
    width: 100%;
    height: 850px;
    text-align: center;
    border-bottom:lightgray  solid 1px;
}

.project-container{
    height: 1500px;
}
.project{
    position: relative;
    display: inline-block;
    width: 67.6%;
    height: 750px;
    margin-top: 45px;
}
.project video{
    position: relative;
    width: 100%;
    height: 100%;
    
}

@media screen and (max-width:420px) {
    .projects-section{
        height: 300px;
    }
   .project-container{
       width: 100%;
       height: 100%;
   }
 
    .project{
        width: 100%;
        height: 100%;
    }
   
    
    
   
   
}